/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

/* Estilo para los encabezados */
h2 {
    color: #333;
}

/* Estilo para los formularios */
form {
    margin-bottom: 20px;
}

/* Estilo para los botones */
button {
    background-color: blue; /* Color de fondo verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: blue; /* Color de fondo verde oscuro al pasar el mouse */
}

/* Estilo para las etiquetas de los inputs */
label {
    display: block;
    margin-bottom: 5px;
}

/* Estilo para los inputs */
input[type="number"] {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

/* Estilo para los párrafos */
p {
    margin: 0;
}

header{
    background-color: blue;
    font-size: 20px;
    text-align: center;
}

footer{
    background-color: blue;
    font-size: 20px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: blue;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}
